%h1
    {{team.name}}
    %small {{team.owner.name}} {{foo()}}
%div.progress
    %div.progress-bar{'ng-style' => '{width: 100*team.payroll/300 + "%", minWidth: "4em"}'}
        %strong R
        {{team.payroll}} / {{team.maxPayroll()}}
%table.table.table-condensed.table-striped{'ng-table' => 'tableParams'}
    %thead
        %tr
            %th Name
            %th Position
            %th Value
    %tr{'ng-repeat' => 'pvc in $data | orderBy:posOrder'}
        %td
            %a{'ng-href' => '{{pvc.player.link()}}'}
                {{pvc.player.fullName()}}
                %small {{pvc.player.nfl_team}}
        %td {{pvc.player.position}}
        %td {{pvc.new_value}}
