%h1
  RFA Period
  %small for contracts ending {{rfa.final_year}}
%div
  %span.glyphicon.glyphicon-calendar
  {{open_date}} to {{close_date}}
.row{'ng-repeat': 'row in rows'}
  .col-lg-3.col-md-4.col-sm-6{'ng-repeat': 'team in row'}
    %h3 {{team.name}}
    %table.table.table-condensed.table-striped
      %tr{'ng-repeat': 'contract in rfa.contracts_eligible | filter:contractBelongsTo(team.id)'}
        %td
          {{contract.player.first_name}}
          {{contract.player.last_name}}
        %td
          {{highestBid(contract.player.id)}}
        %td.bidbox{'ng-if': 'rfa["open?"]'}
          %form{'ng-submit': 'submitBid(contract.player.id, bid)'}
            %input.form-control.input-sm{type: 'number', placeholder: 'Bid', 'ng-model': 'bid'}
        %td.keepbox{'ng-if': 'rfa.rfa_decision_period'}
          %label
            %input{type: 'checkbox', 'ng-model': 'keep',
              'ng-disabled': '!(user && userOwnsTeam(team.id))',
              'ng-change': 'onKeepToggle(contract.player.id, keep)'}
            Keep?
        %td.resultbox{'ng-if': 'rfa.redbuttoned'}
          -# Keep | <name of winner> | drop
