@font-face {
  font-family: Franklin Gothic Demi Cond;
  src: local('Franklin Gothic Demi Cond'), url('/fonts/Franklin Gothic Demi Cond.ttf');
}

@font-face {
  font-family: Franklin Gothic Medium Cond;
  src: local('Franklin Gothic Medium Cond'), url('/fonts/Franklin Gothic Medium Cond.ttf');
}

@font-face {
  font-family: Franklin Gothic Medium;
  src: local('Franklin Gothic Medium'), url('/fonts/Franklin Gothic Medium.ttf');
}

@font-face {
  font-family: Zurich Condensed BT;
  src: local('Zurich Condensed BT'), url('/fonts/Zurich Condensed BT.ttf');
}

@font-face {
  font-family: Zurich Bold Condensed BT;
  src: local('Zurich Bold Condensed BT'), url('/fonts/Zurich Bold Condensed BT.ttf');
}