body {
  font-family: helvetica, sans-serif;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid silver;
  padding: .25em;
}

#header {
  background-color: #303030;
  margin-bottom: 1px;
  color: white;
  padding: .5em;
}

#header a {
  text-decoration: none;
  color: silver;
}

#header ul {
  display: inline-block;
  margin-right: .5em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

#header ul li {
  margin: 0px;
  padding-left: .5em;
  padding-right: .5em;
  text-transform: capitalize;
  display: inline-block;
}

.warning {
  padding: .5em;
  margin: .5em;
  font-weight: bold;
  color: black;
  background-color: gold;
  border: 1px solid goldenrod;
  border-radius: 4px;
  box-shadow: 2px 2px 4px gray;
  background-image: url('/images/notice-bg.png');  
  background-repeat: repeat-y; 
}

.error {
  padding: .5em;
  margin: .5em;
  font-weight: bold;
  color: white;
  background-color: red;
  border: 1px solid darkred;
  border-radius: 4px;
  box-shadow: 2px 2px 4px gray;
  background-image: url('/images/notice-bg.png');  
  background-repeat: repeat-y;    
}

.notice {
  padding: .5em;
  margin: .5em;
  font-weight: bold;
  color: black;
  background-color: lightgreen;
  border: 1px solid darkgreen;
  border-radius: 4px;
  box-shadow: 2px 2px 4px gray;
  background-image: url('/images/notice-bg.png');  
  background-repeat: repeat-y;
}