body {
  font-family: helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

td, th {
  border: 1px solid silver;
  padding: .25em;
}

#header {
  background-color: #303030;
  margin-bottom: 1px;
  color: white;
  padding: .5em;
}

#header a {
  text-decoration: none;
  color: silver;
}

#header ul {
  display: inline-block;
  margin-right: .5em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

#header ul li {
  margin: 0px;
  padding-left: .5em;
  padding-right: .5em;
  text-transform: capitalize;
  display: inline-block;
}

.warning {
  padding: .5em;
  margin-bottom: 1px;
  font-weight: bold;
  color: white;
  background-color: goldenrod;
  background-image: url('/images/notice-bg.png');
  background-repeat: repeat-y;  
}

.error {
  padding: .5em;
  margin-bottom: 1px;
  font-weight: bold;
  color: white;
  background-color: firebrick;
  background-image: url('/images/notice-bg.png');  
  background-repeat: repeat-y;    
}

.notice {
  padding: .5em;
  margin-bottom: 1px;
  font-weight: bold;
  color: white;
  background-color: green;
  background-image: url('/images/notice-bg.png');
  background-repeat: repeat-y;  
}

.noticebox {
  display:block;
  width: auto;
  border:1px solid goldenrod;
  background-color: lightyellow;
  padding:.5em;
  margin-bottom:1em;
  margin-top:1em;
}