<style type="text/css">
#ticker {
  background-color:black;
  color: white;
  overflow: hidden;
  height: 1em;
  padding: .25em 0 .5em 0;
  font-family: 'Franklin Gothic Medium';
  text-transform:none;
  font-weight: normal;
  font-size:14pt;
  position:fixed;
  bottom:0px;
  width:100%;
  overflow:hidden;
}
.tickerspan {
  display: inline-block;
  position:relative;
  overflow:visible;
  white-space: nowrap;
}
.espnyellow {
  color: #fdc674;
}
</style>

<% rfa_period = @current_league.rfa_periods.order('id desc').select{|r| not r.ended?}.first rescue nil %>
<% if rfa_period %>
  <div id="ticker"></div>
  <script type='text/javascript'>
    $(document).ready(function(){
      $("#ticker").ticker({
        dataUrl: '/rfa_bids?rfa_period_id=<%= rfa_period.id %>',
        dataToHtml: function(data) {
          var out = '<span class="espnyellow">Latest bids:</span> ';
          $.each(data, $.proxy(function(index, item){
            var bid = item.rfa_bid;
            out += '<span class="espnyellow" style="margin-left: 1em;">' + (index+1).toString() + '. </span>' + bid.team.name + ' bid ' + bid.value.toString() + ' on ' + bid.player.first_name + ' ' + bid.player.last_name + ' on ' + Date.parse(bid.created_at.replace(/Z/g, '')).toString('MMM d'); 
          }, this));
          return out;
        }
      });
    });
  </script>
<% end %>