%html{'ng-app' => 'bb.ffl'}
    %head
        %title ffl
        %base{href: '/app/'}
        %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
        %link{href: "https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700", rel: "stylesheet"}
        = javascript_include_tag 'application'
        = stylesheet_link_tag 'application', media: :all
        = csrf_meta_tag
    %body
        %nav.navbar.navbar-inverse.navbar-static-top{role: 'navigation', 'ng-controller' => 'Nav'}
            .container-fluid
                .navbar-header
                    %button.navbar-toggle.collapsed{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '#ffl-nav-collapse' }
                        %span.glyphicon.glyphicon-list
                    %a.navbar-brand{href: '.'}
                        FFL
                #ffl-nav-collapse.collapse.navbar-collapse
                    %ul.nav.navbar-nav
                        %li{'ng-if' => 'leagueId'}
                            %a{href: 'players?leagueId={{leagueId}}'} Players
                        %li{'ng-if' => 'leagueId'}
                            %a{href: 'leagues/{{leagueId}}/teams'} Teams
                    %p.navbar-text.pull-right{'ng-if' => 'user'}
                        {{ user.name }}
                        %a.glyphicon.glyphicon-log-out{href: true, :'ng-click' => 'logout()' }
                    %form.navbar-form.navbar-right{'ng-submit' => 'login(username, password)', 'ng-if' => '!user'}
                        .form-group
                            %input.form-control.input-sm{type: 'text', placeholder: 'username', 'ng-model' => 'username'}
                        .form-group
                            %input.form-control.input-sm{type: 'password', placeholder: 'password', 'ng-model' => 'password'}
                        %input{type: 'submit', style: 'display: none;'}
        %div{'ng-view' => true}
