<div id="welcome" style="text-align: center; width: auto; margin-top: 100px; padding-top: 1em; padding-bottom: 1em;">
  <img src="/images/welcome.png" />
  <div style="font-size:8pt; padding:1em;">
    ver. <%= %x[git show --pretty="%h %ai"].lines.first.rstrip rescue nil %>
  </div>
</div>