<div style="text-transform:uppercase; width: 300px; text-align: center; width: auto; margin-top: 100px; background-image:url('/images/notice-bg.png'); background-repeat:repeat-y; padding-top: 1em; padding-bottom: 1em;">
  welcome to<br/>
  <span style="font-size:72pt; font-weight: bold;">FFL</span><br/>
  a totally sweet-ass<br/>league management tool
</div>
